<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509902062436-pbkf1ovcm7c6kd3fuc11ghi762lbsnvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509902062436-pbkf1ovcm7c6kd3fuc11ghi762lbsnvm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>509902062436-8o7qshe63tblhhstt6enkjvvh9eudc6l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBk-6PnKl4W5s-ueQJjT3x7PXw3S-gUW_0</string>
	<key>GCM_SENDER_ID</key>
	<string>509902062436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cryptofogsllc.wrapmycars</string>
	<key>PROJECT_ID</key>
	<string>wrapmycars-eaf35</string>
	<key>STORAGE_BUCKET</key>
	<string>wrapmycars-eaf35.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509902062436:ios:359008ec84fd2987a1f071</string>
</dict>
</plist>